/* customFont.css */

/*@font-face {
	font-family: Alegreya-Regular;
	src: url("Alegreya-Regular.otf");
}*/

/*
@font-face {
	font-family: Alegreya-Bold;
	src: url("Alegreya-Bold.ttf");
}
*/

/*@font-face {
	font-family: AlegreyaSC-Regular;
	src: url("AlegreyaSC-Regular.otf");
}*/

/*
.text{
	-fx-font-family: "AlegreyaSC-Regular";
}*/
